<div class="content">
  <div class="app-header">
    <h1>Calcul du salaire brut en net</h1>
  </div>
  <div class="form-ctn">
    <div class="left">
      <table class="salary-inputs-table">
        <tr>
          <th class="section-title">INDIQUEZ VOTRE SALAIRE BRUT</th>
          <th class="section-title">RÉSULTAT DE VOTRE SALAIRE NET</th>
        </tr>
        <tr>
          <td>
            <div class="input-ctn">
              <label for="">Horaire brut</label>
              <input type="number" placeholder="Salaire brut" [(ngModel)]="grossHourlyIncome" (input)="onGrossHourlyIncomeChange()"/>
            </div>
          </td>
          <td>
            <div class="input-ctn">
              <label for="">Horaire net</label>
              <input type="number" placeholder="Horaire" [(ngModel)]="netHourlyIncome" (input)="onNetHourlyIncomeChange()"/>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-ctn">
              <label for="">Mensuel brut</label>
              <input type="number" placeholder="Salaire brut" [(ngModel)]="grossMonthlyIncome" (input)="onGrossMonthlyIncomeChange()"/>
            </div>
          </td>
          <td>
            <div class="input-ctn">
              <label for="">Mensuel net</label>
              <input type="number" placeholder="Mensuel" [(ngModel)]="netMonthlyIncome" (input)="onNetMonthlyIncomeChange()"/>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-ctn">
              <label for="">Annuel brut</label>
              <input type="number" placeholder="Salaire brut" [(ngModel)]="grossAnnualIncome" (input)="onGrossAnnualIncomeChange()"/>
            </div>
          </td>
          <td>
            <div class="input-ctn">
              <label for="">Annuel net</label>
              <input type="number" placeholder="Annuel" [(ngModel)]="netAnnualIncome" (input)="onNetAnnualIncomeChange()"/>
            </div>
          </td>
        </tr>
      </table>
      <div class="section">
        <h2 class="section-title">SÉLECTIONNEZ VOTRE STATUT : <span class="badge">Taxe liée à votre status : -{{ statusRelatedTax }}%</span></h2>
        <div class="card">
          <div class="radio-input-ctn">
            <input type="radio" name="statusRelatedTax" [value]="22" [(ngModel)]="statusRelatedTax" (input)="onStatusRelatedTaxChange(employeeStatusTax)"/>
            <label for="status1">Salarié non-cadre</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" name="statusRelatedTax" [value]="25" [(ngModel)]="statusRelatedTax" (input)="onStatusRelatedTaxChange(executiveEmployeeStatusTax)"/>
            <label for="status2">Salarié cadre</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" name="statusRelatedTax" [value]="15" [(ngModel)]="statusRelatedTax" (input)="onStatusRelatedTaxChange(publicServiceEmployeeStatustax)"/>
            <label for="status2">Fonction publique</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" name="statusRelatedTax" [value]="45" [(ngModel)]="statusRelatedTax" (input)="onStatusRelatedTaxChange(liberalProfessionStatusRelatedTax)"/>
            <label for="status2">Profession libérale</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" name="statusRelatedTax" [value]="51" [(ngModel)]="statusRelatedTax" (input)="onStatusRelatedTaxChange(portageSalarialStatusRelatedTax)"/>
            <label for="status2">Portage salarial</label>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="section">
        <h2 class="section-title">SÉLECTIONNEZ VOTRE TEMPS DE TRAVAIL : <span class="badge">{{workingTimeRateSlider.value}}%</span></h2>
        <mat-slider min="10" max="100" step="10">
          <input value="100" matSliderThumb #workingTimeRateSlider (input)="onWorkingTimeRateChange(workingTimeRateSlider.value)">
        </mat-slider>
      </div>

      <div class="section">
        <h2 class="section-title">SÉLECTIONNEZ LE NOMBRE DE MOIS DE PRIME CONVENTIONNELLE :</h2>
        <div class="card">
          <div class="radio-input-ctn">
            <input type="radio" [value]="0" [(ngModel)]="additionalMonthlyIncomeBonusNumber" (input)="onNumberOfAdditionalMonthlyIncomeBonusChange(noAdditionnalMonthlyIncomeBonus)"/>
            <label for="status1">12 mois</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" [value]="1" [(ngModel)]="additionalMonthlyIncomeBonusNumber" (input)="onNumberOfAdditionalMonthlyIncomeBonusChange(oneAdditionnalMonthlyIncomeBonus)"/>
            <label for="status2">13 mois</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" [value]="2" [(ngModel)]="additionalMonthlyIncomeBonusNumber" (input)="onNumberOfAdditionalMonthlyIncomeBonusChange(twoAdditionnalMonthlyIncomeBonus)"/>
            <label for="status2">14 mois</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" [value]="3" [(ngModel)]="additionalMonthlyIncomeBonusNumber" (input)="onNumberOfAdditionalMonthlyIncomeBonusChange(threeAdditionnalMonthlyIncomeBonus)"/>
            <label for="status2">15 mois</label>
          </div>
          <div class="radio-input-ctn">
            <input type="radio" [value]="4" [(ngModel)]="additionalMonthlyIncomeBonusNumber" (input)="onNumberOfAdditionalMonthlyIncomeBonusChange(fourAdditionnalMonthlyIncomeBonus)"/>
            <label for="status2">16 mois</label>
          </div>
        </div>
      </div>

      <div class="section">
        <h2 class="section-title">SÉLECTIONNEZ LE TAUX DE PRÉLÉVEMENT À LA SOURCE : <span class="badge">{{prelevementALaSourceRateSlider.value}}%</span></h2>
        <mat-slider min="0" max="43" step="0.5">
          <input [value]="this.prelevementALaSourceRate" matSliderThumb #prelevementALaSourceRateSlider (input)="onPrelevementALaSourceRateChange(prelevementALaSourceRateSlider.value)">
        </mat-slider>
      </div>

      <div class="section">
        <h2 class="section-title">ESTIMATION DE VOTRE SALAIRE NET APRÈS LE PRÉLÈVEMENT À LA SOURCE ET PRIME(S)</h2>
        <div class="salary-results-ctn">
          <div class="input-ctn">
            <label for="">Mensuel net après impôts et prime(s)</label>
            <input type="number" placeholder="Mensuel" readonly [(ngModel)]="netMonthlyIncomeAfterTaxAndBonuses" />
          </div>
          <div class="input-ctn">
            <label for="">Annuel net après impôts et prime(s)</label>
            <input type="number" placeholder="Annuel" readonly [(ngModel)]="netAnnualIncomeAfterTaxAndBonuses" />
          </div>
        </div>
      </div>

      <div>
        <button class="clear-btn" (click)="clearValues()">Effacer les champs</button>
      </div>
    </div>
  </div>